OPENAI_API_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

BETTER_AUTH_SECRET=
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000


DATABASE_URL="postgresql://username:password@localhost:5432/ats_friendly?schema=public"
